---
interface Props {
  imgSrc: string; 
  label: string;
  onClick: () => void;
}

const { imgSrc, label, onClick } = Astro.props;
---

<div class="h-14 w-24">
  <div class="flex items-center justify-center">
    <div
    class="flex flex-col items-center text-gray-400 hover:text-gray-900 gap-2 pl-16"
    on.click={onClick}
    >
      <img src={imgSrc} alt="logo-filter" class="h-6 w-6">
      <p class="text-xs font-normal">{label}</p>
    </div>
  </div>
</div>
