---

let categories = [
  "Beach", 
  "Amazing Pools", 
  "Countryside", 
  "Camping", 
  "Domes", 
  "Cabins", 
  "Tiny Homes", 
  "Mansions", 
  "Beachfront",]
---

<div class="flex items-center">
  
  <span class="material-symbols-outlined">arrow_circle_right</span>
  <div>
    <span class="material-symbols-outlined">tune</span>
    <p>Filters</p>
  </div>
</div>