---
import FilterCard from './FilterCard.astro'

import categories from '../data/categories.json'
---

<div class="flex items-center">
  {categories.map((category) => (
    <FilterCard
      imgSrc={category.imgSrc}
      label={category.label}
      onClick={() => console.log(category.label)}
    />
  ))}
  
  <span class="material-symbols-outlined">arrow_circle_right</span>
  <div>
    <span class="material-symbols-outlined">tune</span>
    <p>Filters</p>
  </div>
</div>