---
interface Props {
  imgSrc: string;
  altText: string;
  label: string;
  onClick: () => void;
}

const { imgSrc, altText, label, onClick } = Astro.props;
---

<div class="flex items-center h-24 space-x-5">
  <div class="flex items-center justify-center space-x-5">
    <div
    class="flex flex-col items-center text-gray-400 hover:text-gray-900 gap-2 pl-16"
    on.click={onClick}
    >
      <img src={imgSrc} alt={altText} class="h-6 w-6">
      <p class="text-xs font-normal">{label}</p>
    </div>
  </div>
</div>
